
.square {
    width: 300px;
    height: 200px;
    border:thick double #32a1ce;
    margin: 10px;
    padding: 10px 80px;
    box-sizing: border-box;
    border-radius: 5%;
   
}

.mainHeading {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    animation: 3s ease-in 1s infinite reverse both running slidein;
}

.red {
    margin: 30px 20px 20px 40px; 
    background-color: rgb(141, 62, 62);
}

.blue {
background-color: rgb(137, 137, 222);
}

.green {
    background-color: rgb(107, 151, 107);
}
.animacion {
    inline-size: auto;
    writing-mode: horizontal-tb;
}
 .boxHeading {
    margin: auto;
/* text-align: center; */
} 
.image {
    width: 50px;
    height: 50px;
    background-image:url(https://upyachka.io/img//60e/cucu.gif) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.blue:hover {
    background-color: orange;
    transform: scale(1.2);
}
.red:hover {
    background-color: rgb(137, 156, 39);
    transform: rotate(0,5turn);
}